<div class="container">
  <div class="top-head">
    sign in / sign up
  </div>
  <div class="top-index">
    <article class="top-index-post">
      <p>投稿者：FURUKAWA</p>
      <p>商品名：プレミアムコーヒー</p>
      <p>評価：5</p>
    </article>
    <article class="top-index-post">
      <p>投稿者：TANIMUIRA</p>
      <p>商品名：ノーマルコーヒー</p>
      <p>評価：3</p>
    </article>
    <article class="top-index-post">
      <p>投稿者：YOSHIMURA</p>
      <p>商品名：キリマンジャロブレンド</p>
      <p>評価：4</p>
    </article>
  </div>
</div>