<div class="container">
  <div class="user-info">
    user-name
  </div>
  <ul>
    <li>商品名：プレミアムコーヒー</li>
    <li>購入店舗：梅田コーヒー</li>
    <li>豆の銘柄：モカ</li>
    <li>価格：700円</li>
    <li>単位：１袋</li>
    <li>全体評価：5</li>
  </ul>
  <canvas>
  </canvas>
  <div class="product-show__menu">
    <div>いいね</div>
    <div>編集</div>
    <div>削除</div>
  </div>

</div>