/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 
 @import "font-awesome-sprockets";
 @import "font-awesome";


 body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: #f8f8f7;
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック";
  header {
    width: 100%;
    height: 100px;
    background-color: #fff;
    margin-bottom: 50px;
    position: relative;
    position: fixed;
    .header-logo {
      margin-left: 15px;
      img {
        height: 60px;
        margin-top: 20px;
      }
    }
    .more_list {
      list-style: none;
      .login-user-link {
        color: #333;
        text-decoration: none;
        cursor: pointer;
      }
      .sign-out-link {
        color: #333;
        text-decoration: none;
        cursor: pointer;
      }
    }

    @media screen and (max-width:780px){
    .header-logo {
      font-size: 30px;
    }
    .fa-bars {
      color: #015a3c;
      cursor: pointer;
      font-size: 40px;
      line-height: 100px;
      margin-left: 30px;
      position: absolute;
      top: 0;
      right: 10px;
    }
    .more_list {
      opacity: 0;
      visibility: hidden;
      transition: opacity .5s, visibility .5s;
      background-color: #eee7e3;
      margin: 0;
      padding: 10px;
      width: 180px;
      position: absolute;
      top: 100px;
      right: 0;
      &__parts {
        border-bottom: dimgray solid 1px;
        padding-left: 5px;
      }
      .login-user-link {
        color: #333;
        .login-user-img {
          width: 40px;
          height: 40px;
          border-radius: 100%;
        }
        .login-user-nickname {
          line-height: 40px;
          font-size: 20px;
          text-decoration: none;
        }
      }
      .sign-out-link {
        font-size: 20px;
        text-decoration: none;
      }
    }
    .more_list.active {
      opacity: 1;
      visibility: visible;
      padding-left: 0;
     }
    }

    @media screen and (min-width:781px){
      .fa-bars {
        opacity: 0;
      }
      .more_list{
        display: table;
        margin: 0;
        position: absolute;
        padding: 0;
        top: 0;
        right: 0;
        &__parts {
          display: inline-block;
          display: table-cell;
          height: 100px;
          padding:15px 15px 0 0;
          font-size: 20px;
        }
        .login-user-img {
          width: 50px;
          height: 50px;
          border-radius: 100%;
        }
      }
    }
   }
  }
 