// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


  .container {
    // トップページ
    background-color: #ccf5ff;
    width: 80%;
    margin: 0 auto;
    .top-head {
      background-color: tomato;
      width: 150px;
      margin: 0 auto;
    }
    .top-index {
      display: flex;
      margin-top: 50px;
      &__post {
        background-color: #ffeacc;
        width: 200px;
        height: 120px;
        margin: 0 10px 10px 0;
        .post_link {
          text-decoration: none;
          color: black;
        }
          .post-user-img {
            width: 50px;
            height: 50px;
            border-radius: 100%;
          }
      }
    }

    // 商品詳細ページ
    .user-info {
      font-size: 20px;
      background-color: yellowgreen;
      width: 150px;
      margin: 0 auto;
    }
    ul {
      list-style: none;
    }
    .product-show__menu {
      display: flex;
      padding-left: 60px;
      div {
        margin-right: 20px;
      }
    }
  }


