// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



  
  .container {
    // トップページ
    width: 80%;
    margin: 0 auto;
    padding-top: 120px;
    overflow: scroll;
  }
  .top-head:hover {
    opacity: 0.7;
  }
  .top-head {
    background-color: #008055;
    width: 300px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 4px #003b28;
    .sign-in-link {
      text-decoration: none;
      font-size: 25px;
      color: #fff;
      cursor: pointer;
      line-height: 50px;
    }
    .new-post-link {
      text-decoration: none;
      font-size: 25px;
      color: #fff;
      cursor: pointer;
      line-height: 50px;
    }
  }
  .top-index {
      margin-top: 50px;
      &__post {
        background-color: #fff;
        padding: 5px 0 0 5px;
        margin-bottom: 20px;
        .index-post-link {
          text-decoration: none;
          color: #000;
        }
        &--img {
          width: 30px;
          height: 30px;
          border-radius: 100%;
        }
        &--user-name{
          font-size: 25px;
        }
        &--product {
          font-size: 20px;
          display: block;
        }
        &--stars {
          font-size: 15px;
          color: gold;
        }
        &--heart {
          font-size: 15px;
          text-align: right;
          padding-right: 20px;
          .fa-heart {
            color: #d70035;
          }
      }
    }
    }
    
    // 商品詳細ページ
    .post-product-name {
      color: #008055;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      margin: 10px 0;
    }
    #canvas-wrapper {
      width: 100%;
      height: 230px;
      margin: 0 auto;
    }
    .user-info {
      font-size: 15px;
      margin: 20px 0;
      .post-user-link {
        text-decoration: #000;
        display: flex;
        justify-content: center;
        .post-user-img {
          width: 40px;
          height: 40px;
          border-radius: 100%;
        }
        .post-user-name {
          display: block;
          line-height: 40px;
          color: #000;
        }
      }     
    }
    .post-info {
      list-style: none;
      width: 100%;
      margin: 0 auto;
      padding: 0;
      li {
        font-size: 15px;
        border-bottom: solid 1px #9d8e87;
        .fa-star {
          color: gold;
        }
      }
    }
    .product-show__menu {
      font-size: 15px;
      display: flex;
      width: 60%;
      margin: 10px auto;
      div {
        margin-right: 20px;
      }
      &--link {
        margin-right: 20px;
        color: #000;
      }
    }
    .comment {
      width: 90%;
      margin: 0 auto;
      &__textbox {
        width: 100%;
        height: 40px;
      }
      &__show{
        margin-top: 20px;
        &--content {
          width: 100%;
          background-color: #fff;
          margin-bottom: 10px;
        }
        &--user {
          color: #000;
        }
      }
    }
    
    //  投稿ページ
    .new-title {
      text-align: center;
      font-size: 20px;
      margin-bottom: 20px;
      color: #008055;
    }
    .new-text-field-wrapper {
      width: 90%;
      margin: 0 auto;
      .new-text-field {
        width: 100%;
        height: 20px;
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
    .detail-value {
      font-size: 16px;
      margin-bottom: 0;
      color: #008055;
    }
    .new-select__label {
      font-size: 16px;
      margin-right: 10px;
      display: block;
    }
    select {
      width: 50px;
      height: 30px;
    }
    .new-submit-btn {
      width: 70px;
      height: 30px;
      margin-top: 20px;
    }

  

   
  

  // タブレット
  @media (min-width: 479px) and (max-width: 780px){
    .container {
      width: 80%;
      // トップページ
      .top-index__post--product {
        display: inline-block;
      }

      // 商品詳細ページ
      .post-product-name {
        font-size: 25px;
      }
     #canvas-wrapper {
        width: 490px;
        height: 400px;
        margin: 0 auto;
      }
      .user-info {
        font-size: 25px;
        line-height: 60px;
        .post-user-img{
          width: 60px;
          height: 60px;
        }
        .post-user-name {
          line-height: 60px;

        }
      }
      .post-info {
        width: 90%;
        li {
          font-size: 25px;
        }
      }
      .product-show__menu {
        font-size: 20px;
      }
      .comment {
        font-size: 20px;
        &__textbox {
          font-size: 20px;
          height: 60px;
        }
        &__form-send {
          font-size: 20px;
        }
      }
    }

      // 新規投稿ページ
      .container {
        max-width: 580px;
        min-width: 520px;
      }
      .new-title {
        font-size: 25px;
        text-align: center;
      }
      .new-text-field{
        width: 100%;
      }
      .detail-value {
        font-size: 20px;
        margin-bottom: 10px;
      }
      .new-select{
        margin-right: 10px;
        &__label {
          font-size: 16px;
          margin-right: 2px;
          display: inline-block;
        }
      }
  }

  // PCサイト
  @media (min-width: 781px){
    .container  {
      width: 760px;
      overflow: scroll;
    // トップページ
      .sign-in-link {
        font-size: 30px;
      }
      .new-post-link {
        font-size: 30px;
      }
      .top-index {
        margin-top: 50px;
        &__post {
          padding: 10px 0 0 10px;
          &--img {
            width: 80px;
            height: 80px;
          }
          &--user-name{
            font-size: 30px;
          }
          &--product {
            font-size: 20px;
            display: inline-block;
          }
          &--stars {
            font-size: 20px;
            color: gold;
          }
          &--heart {
            padding-right: 30px;
          }
        }
      }
      // 商品詳細ページ
      .post-product-name {
        text-align: center;
        font-size: 30px;
        margin: 10px 0 20px 0;
      }
      .flex-wrapper {
        display: flex;
        justify-content: center;
        height: 400px;
        #canvas-wrapper {
          flex-basis: 60%;
        }
        .info-wrapper {
          flex-basis: 40%;
          .user-info {
            .post-user-link {
              justify-content: left;
              margin-top: 40px;
              .post-user-img {
                width: 60px;
                height: 60px;
                border-radius: 100%;
              }
              .post-user-name {
                line-height: 60px;
                font-size: 30px;
              }
            }
          }
          .post-info {
            li {
              font-size: 20px;
              margin-bottom: 5px;
            }
          }
          .product-show__menu {
            font-size: 16px;
          }
        }
      }
    }
      
        //  投稿ページ
        .container {
          max-width: 720px;
          .new-title {
            font-size: 40px;
          }
          .new-text-field-wrapper {
            text-align: center;
            .new-text-field{
              width: 500px;
              height: 50px;
              font-size: 20px;
            }
          }
          .new-select--upper {
            margin-left: 110px;
            display: flex;
            .new-select{
              margin-right: 5px;
              &__label {
                display: inline-block;
                margin-right: 0;
                font-size: 19px;
              }
            }
          }
          .detail-value {
            font-size: 20px;
            margin-left: 110px;
          }
          .detail-value--area{
            display: flex;
            margin-left: 110px;
            .new-select{
              margin-right: 5px;
              display: block;
              .new-select__label {
                font-size: 19px;
                margin-right: 5px;
                margin-bottom: 10px;
                display: inline-block;
              }
            }
         }
         .new-submit-btn {
           margin-left: 110px;
         }
      }
    }
    
    
    
    
    