<!DOCTYPE html>
<html>
  <head>
    <title>CoffeeSns</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        Coffee SNS
      </div>
      <div class="header-menu">
        current_user
      </div>
    </header>
    <%= yield %>
  </body>
</html>
